# Retrieving Data
- Use `requests` library to retrieve the data 
- Query their endpoint (described [here](https://cityofphiladelphia.github.io/carto-api-explorer/#opa_properties_public))

In [2]:
import requests
query="SELECT * FROM opa_properties_public"
r = requests.get(f"https://phl.carto.com/api/v2/sql?q={query}")
x = r.json()

# Transforming / Wrangling
- Use `pandas` *dataframes* to work with the data
- [Dataframes](https://pandas.pydata.org/pandas-docs/stable/getting_started/dsintro.html) can be though of as tables in Python memory
- simple functions (select, filters, groubys) are fairly intuitive to implement with the pandas functions (and are usually easy to search Google/StackOverflow)
- some functions (Pivots, etc) are relatively unintuitive, you can do them in pandas but it's harder than SQL/excel
- programming functions (iterative loops, custom logic, integrations, reactive variables) are much easier in Pandas than SQL/excel

In [6]:
import pandas as pd
df = pd.DataFrame(x['rows'])

In [64]:
# I'm not sure if you have any better options, 
# but basically i want to be able to 
# filter the data based on criteria and then target owners to connect them with buyers 

# simple filter
all_four_bedrooms_df = df[df['number_of_bedrooms'] == 4]
# alternatively
#all_four_bedrooms = df[df.number_of_bedrooms == 4]

# filter multiple conditions (strip removes ;eadingtrailing and )
# I would recommend not filtering on city_state because there's a lot of misentered cities. 
# Postal codes, etc. are much cleaner
all_four_bedrooms_in_alexandria_df = df[(df['number_of_bedrooms'] == 4) &
                                        (df['mailing_city_state'].str.strip().str.lower() == 'alexandria va')
                                        ]


# find the count of all number of bedrooms for city state
br_cs_freq_df =  df[['number_of_bedrooms', 'mailing_city_state', 'objectid']]\
                                    [(df['number_of_bedrooms'] >= 1) & (df['number_of_bedrooms'] <= 6)]\
                                    .groupby(['number_of_bedrooms', 'mailing_city_state']).agg('count')

all_four_bedrooms_in_alexandria_df.head(5)

,assessment_date,basements,beginning_point,book_and_page,building_code,building_code_description,cartodb_id,category_code,category_code_description,census_tract,...,total_livable_area,type_heater,unfinished,unit,utility,view_type,year_built,year_built_estimate,zip_code,zoning
6017,None,C,SEC OF WATKINS ST,2614330,O30,ROW 2 STY MASONRY,6018,1,Single Family,850,...,1312.0,A,None,None,None,I,1925,Y,191481601,CMX1
89998,None,A,"90'8 "" N SUSQUEHANNA",3473681,O30,ROW 2 STY MASONRY,89999,1,Single Family,730,...,1532.0,A,None,None,None,I,1915,Y,191324404,RSA5
128088,None,H,NWC BLAKEMORE ST,0000000,T30,ROW B/OFF-STR 2 STY MASON,128089,3,Mixed Use,440,...,1520.0,H,None,None,None,I,1940,Y,191190000,RSA5
242579,None,A,179' S REEED ST,3363535,O50,ROW 3 STY MASONRY,242580,1,Single Family,070,...,1502.0,A,None,None,A,I,2018,None,191464735,RSA5
260234,None,H,"96'4"" W DOVER ST",2529369,R30,ROW B/GAR 2 STY MASONRY,260235,1,Single Family,171,...,1772.0,B,None,None,None,I,1925,Y,191321232,RSA5

# Writing data 
- a lot of time it's easier to explore your dataset in excel. Writing to a csv is pretty painless
- I prefer to do as much of the transforms (filters, data cleaning, etc.) in Pandas as possible so that when I get to excel I'd only have to worry about visualization
- there are some cool visualization tools for pandas that can generate reports ([matplotlib](https://matplotlib.org/), [seaborn](https://seaborn.pydata.org/), etc) but there's a learning curve

In [56]:
import os
file_path = os.path.join(os.getcwd(),'sample_output.csv')
#file_path = '/exact/path/to/myfile.csv'

print(f"Writing to: {file_path}")
# using the data frame we had above, we'll write it to a csv
br_cs_freq_df.to_csv(file_path)

Writing to: C:\Users\brend\sample_output.csv

# Additional commands
- Google search for *pandas cheat sheet* can solve most general problems
- Stack overflow usuall has solutions for specific questions (how do I do this)
- included some basics for viewing data samples (only useful for figuring stuff out)

In [67]:
"""I provided some helpful commands to help you explore the data. Uncomment the lines (remove the #s) and run the cell
"""
from pprint import pprint

# show all the columns
#pprint(list(df))

# show a sample set of 5 records (will only display if it's unassigned like below)
#df.head(20)

# subselect a set of columns (if there are too many columns, all won't show)
#df[['census_tract', 'type_heater', 'unit', 'year_built']]

       census_tract type_heater     unit year_built
0               700           H     None       1920
1               710           H     None       1920
2               700           H     None       1920
3               710           A     None       1920
4               710           H     None       1920
5               710           H     None       1920
6               770        None     None       0000
7               770           H     None       1960
8               770           A     None       1960
9               770           A     None       1960
10              770           H     None       1960
11              772           H     None       1960
12              710        None     None       0000
13              710           H     None       1920
14              710        None     None       0000
15              710        None     None       0000
16              710        None     None       0000
17              710        None     None       0000
18              710        None     None       0000
19              710        None     None       0000
20              710           A     None       1920
21              710           H     None       1920
22              710           A     None       1920
23              710           H     None       1920
24              710           H     None       1920
25              710           A     None       1920
26              710           H     None       1920
27              710           H     None       1920
28              710           H     None       1920
29              710           H     None       1920
...             ...         ...      ...        ...
581426          822           A  00000M9       1960
581427          822           A  0000M10       1960
581428          531           A  0000062       1970
581429          531           A  0000064       1970
581430          531           A  0000066       1970
581431          531           A  0000068       1970
581432          531           A  0000070       1970
581433          531           A  0000072       1970
581434          531           A  0000074       1970
581435          531           A  0000076       1970
581436          531           A  0000078       1970
581437          531           A  0000080       1970
581438          531           A  0000082       1970
581439          531           A  0000084       1970
581440          531           A  0000086       1970
581441          531           A  0000088       1970
581442          532        None  00000H7       1988
581443          532        None  00000H8       1988
581444          500        None  00000H9       1980
581445          532        None  0000H10       1980
581446          532        None  0000H11       1988
581447          532        None  0000H12       1988
581448          532        None  0000H13       1988
581449          532        None  0000H14       1988
581450          532        None  0000H15       1988
581451          500        None  0000H16       1980
581452          532        None  0000H17       1988
581453          532        None  0000H18       1980
581454          822        None  00000L1       1960
581455          822        None  00000L2       1960

[581456 rows x 4 columns]